langchain
streamlit
faiss-cpu
openai==0.28.1
PyPDF2
# sqlite3 >= 3.35.0
python-dotenv
torch
spacy
transformers
sentence-transformers
lark
langchain-community
chromadb
unstructured
pdf2image
pdfminer.six
unstructured_inference
opencv-python
pikepdf
pypdf
unstructured_pytesseract
tesseract-ocr

